@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Entitiy.Concrete.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-ordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Pasif Yap</th>
        <th>Aktif Yap</th>
        <th>Düzenle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.CategoryId
            </td>
            <td>@item.CategoryName</td>
            <td><a href="/Admin/Category/CategoryDelete/@item.CategoryId" id="DeleteBtn" class="btn btn-info" onclick="return confirm('Silmek istediğinize emin misiniz');">Pasif Yap</a></td>
            <td><a href="#" class="btn btn-primary">Aktif Yap</a></td>
            <td><a href="#" class="btn btn-warning">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Admin/Category/AddCategory/" class="btn btn-primary">Kategori Ekle</a>
<br />
<br />

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Category", "Admin", new { page }))


