@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldin!</h1>
    <p>Daha fazla bilgi için ; <a href="https://learn.microsoft.com/aspnet/core">inşaa et, Web uygulamaları ASP.NET Core ile</a>.</p>
</div>
