@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Bu bir test mesajıdır. Test sayfasında görülecektir.</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Berke</th>
        <th>Sönmez</th>
        <th>Asker</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Emir</th>
        <th>Cebeci</th>
        <th>Futbolcu</th>
    </tr>
    
</table>