<footer>
    <div class="footer-content">
        <div class="footer-info">
            <p class="footer-name">Seyit Ahmet Çilingir - Bilgisayar Mühendisi</p>
            <p class="footer-location">Samsun/Türkiye</p>
        </div>
        <div class="footer-copyright">
            <p>© @DateTime.Now.Year Tüm Hakları Saklıdır</p>
            
            <p>Minimal Tasarım | Sadelik Güçtür</p>
        </div>
    </div>
</footer>