@model IEnumerable<Entitiy.Concrete.Category>
<div class="container tech-btm text-center justify-content-center">
    <h2 class="mb-3">Kategoriler</h2>
    <ul class="list-group single">
        @foreach (var item in Model)

        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @item.CategoryName
                <span class="badge badge-primary badge-pill">4</span>
            </li>
        }
    </ul>
</div>